<script lang="ts">
  import { fly } from 'svelte/transition';

  import Search from '../components/search/Search.svelte';
  import Card from '../components/card/Card.svelte';
  import { Portfolio } from "../components/portfolio/Store";
  import Result from "../components/result/Result.svelte";
  import Proposals from "../components/proposal/Proposals.svelte"
  import { wantPlot, wantProposal, wantSummary } from './fetchAll.svelte';
  import { search } from './endpoints';
  import { ProposalStore } from "../components/proposal/Store.js";
  import { MeasStore } from "../components/result/Store.js";
  import Image from "../components/result/Plot.svelte";
  import { Wave } from 'svelte-loading-spinners';

  let selectedID: string | bigint;
  let assets;

  // eslint-disable-next-line @typescript-eslint/no-redeclare
  interface BigInt {
    /** Convert to BigInt to string form in JSON.stringify */
    toJSON: () => string;
  }

  BigInt.prototype.toJSON = function () {
    return this.toString();
  };

  Portfolio.subscribe(value => {
    assets = value;
    if (assets.length === 0) {
      ProposalStore.reset();
      MeasStore.reset();
    }
  })
  // little odd but as in: https://svelte.dev/tutorial/await-blocks
  let promise: Promise<void>;

  function clickProposal() {
    promise = wantProposal();
  }

</script>

<div class="m-4">

  <div class="min-h-screen">

    <!--  Search -->
    <div class="flex  justify-center w-10/12">
      <Search bind:selectedID={selectedID} endpoint={search}/>
    </div>
    <!--  Cards -->
    <div class="flex flex-wrap ">
      {#each assets as a}
        <div class="m-auto md:mx-0" transition:fly="{{ x: -200, duration: 500 }}">
          <Card bind:props={a}/>
        </div>
      {/each}
    </div>

    <!--  Proposals -->
    {#if assets && assets.length > 0}
      <!-- compute button-->
      <div class="text-center p-2">
        <button
          on:click="{clickProposal}"
          class="hover:text-purple-400  rounded py-2 px-4 border-2 shadow-md border-gray-500 active:bg-purple-200 active:shadow-lg transition duration-150 ease-in-out">
          Give me some proposals
          <svg class="w-6 h-6 inline" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z"
              stroke-linecap="round"
              stroke-linejoin="round"/>
          </svg>
        </button>

        {#await promise}
          <div class="m-auto my-2 md:mx-0 flex justify-around">
            <Wave color="rgb(192 132 252)" duration="2s" size="100" unit="px"/>
          </div>
          <span> Computing ... </span>
        {/await}
      </div>
    {/if}

    <!--{#if proposalWanted}-->
    {#if $ProposalStore && $ProposalStore.length > 0}
      <div class="mt-12 " transition:fly="{{ x: -200, duration: 500 }}">
        <Proposals></Proposals>
      </div>
      <!-- Summary -->
      <div class="text-center p-2">
        <button
          class="hover:text-blue-400  rounded py-2 px-4 border-2 shadow-md border-gray-500 active:bg-blue-200 active:shadow-lg transition duration-150 ease-in-out"
          on:click="{()=>{wantSummary();wantPlot()}}">
          Give me the Summary
          <svg class="w-6 h-6 inline" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z"
              stroke-linecap="round"
              stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    {/if}


    {#if $MeasStore && $MeasStore.length > 0}
      <div class="mt-12" transition:fly="{{ x: -200, duration: 500 }}">
        <Result></Result>
      </div>
      <Image></Image>
    {/if}
  </div>

  <footer>
    <span class="max-h-1"> <a
      href="https://gitlab.com/BerndCzech/newinvest"
      rel="noopener noreferrer" target="_blank">    <!-- Github -->
      Leave an issue or pull request on gitlab: <svg class="max-h-4 inline" viewBox="0 0 512 512"
                                                     xmlns="http://www.w3.org/2000/svg">
        <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <path
          d="M503.5 204.6L502.8 202.8L433.1 21.02C431.7 17.45 429.2 14.43 425.9 12.38C423.5 10.83 420.8 9.865 417.9 9.57C415 9.275 412.2 9.653 409.5 10.68C406.8 11.7 404.4 13.34 402.4 15.46C400.5 17.58 399.1 20.13 398.3 22.9L351.3 166.9H160.8L113.7 22.9C112.9 20.13 111.5 17.59 109.6 15.47C107.6 13.35 105.2 11.72 102.5 10.7C99.86 9.675 96.98 9.295 94.12 9.587C91.26 9.878 88.51 10.83 86.08 12.38C82.84 14.43 80.33 17.45 78.92 21.02L9.267 202.8L8.543 204.6C-1.484 230.8-2.72 259.6 5.023 286.6C12.77 313.5 29.07 337.3 51.47 354.2L51.74 354.4L52.33 354.8L158.3 434.3L210.9 474L242.9 498.2C246.6 500.1 251.2 502.5 255.9 502.5C260.6 502.5 265.2 500.1 268.9 498.2L300.9 474L353.5 434.3L460.2 354.4L460.5 354.1C482.9 337.2 499.2 313.5 506.1 286.6C514.7 259.6 513.5 230.8 503.5 204.6z"/>
      </svg>
    </a>
    </span>
  </footer>
</div>
