<script context="module" lang="ts">

  import { get } from 'svelte/store';
  import type { Asset } from "../components/portfolio/Asset"
  import { Portfolio as PortfolioStore } from "../components/portfolio/Store"
  import { ProposalStore } from "../components/proposal/Store"
  import { plot, propose, summary } from './endpoints';
  import { MeasStore, PlotStore } from "../components/result/Store"
  import type { Measure, Plot } from "../components/result/Summary"

  export const wantProposal = async (): Promise<void> => {

    let proposals: Asset[];
    const res = await fetch(propose, {
      method: 'POST',
      body: JSON.stringify(get(PortfolioStore))
    });
    proposals = await res.json() as Asset[];
    ProposalStore.set(proposals)

  };

  export const wantPlot = async (): Promise<void> => {

    // let plotdata = {
    //   time: ["10-10-2000", "01-10-2000"],
    //   before: [1, 2],
    //   after: [1.1, 2.1]
    // } as Plot
    // PlotStore.set(plotdata)

    const joint = {
      before: get(PortfolioStore) as Asset[],
      after: get(ProposalStore) as Asset[]
    };


    let p: Plot;
    const res = await fetch(plot, {
      method: 'POST',
      body: JSON.stringify(joint)
    });
    p = await res.json() as Plot;
    PlotStore.set(p)
  };

  export const wantSummary = async (): Promise<void> => {

    let summaries: Measure[];

    const joint = {
      portfolio: get(PortfolioStore) as Asset[],
      proposal: get(ProposalStore) as Asset[]
    };

    const res = await fetch(summary, {
      method: 'POST',
      body: JSON.stringify(joint)
    });
    summaries = await res.json() as Measure[];
    MeasStore.set(summaries)
  };

</script>
