<script lang="ts">
  import Chart from 'svelte-frappe-charts';
  import type { Plot } from "./Summary"
  import { PlotStore } from "./Store"

  interface PlotData {
    labels: string[] | number[];
    datasets: [
      { name: string, values: number[] }
    ],
    yMarkers: unknown,
    yRegions: unknown[],
  }

  const toPlot = (d: Plot): PlotData => {
    const pd: PlotData = {
      labels: d.time,
      datasets: [{
        name: "Initial",
        values: d.before
      }, {
        name: "Optimized",
        values: d.after
      }
      ]

    } as PlotData

    return pd
  }
  // all plot options
  // see:
  const lineOptions = {
    regionFill: 1,
    hideDots: 1,
    // spline: 1 // default: 0
  }

  const axisOptions = {
    xIsSeries: true // default: false
  }

</script>

<Chart
  axisOptions={ axisOptions}
  data={toPlot($PlotStore)}
  lineOptions={lineOptions}

  type="line"

/>
<!--<Chart data={data} type="axis-mixed"/>-->