<script lang="ts">
  import { properArrow } from './Arrows';
  import { MeasStore } from "./Store"
</script>

<!-- Result -->
<div class="m-auto md:w-2/3 max-w-xl shadow-md">
  <div class="px-6 py-4 ">
    <div class="font-semibold text-xl mb-4">Proposal Summary</div>
    <div class="border-t-2  border-gray-200"></div>
  </div>
  <!--table-->
  <div class="flex flex-col px-6 pb-2">
    {#each $MeasStore as meas }
      <div class="flex justify-between">
        <span class="font-semibold">{meas.measure} </span>
        <div class="  flex justify-between w-24">
          <span>{Math.round(100 * meas.from) / 100}</span>
          <span>{@html properArrow((Math.abs(meas.to) - Math.abs(meas.from)) / meas.from, meas.inverse)} </span>
          <span>{Math.round(100 * meas.to) / 100}</span>
        </div>
      </div>
    {/each}

  </div>

</div>
