<article class="prose lg:prose-xl m-4 min-h-screen">
  <h1>To whom it may concern</h1>
  <p>
    <strong>Sub-Additivity</strong> means computation takes long
  </p>
  <p>
    <strong>Expected Duration</strong> is long. Any Setting
  </p>
  <p>
    <strong>Summary Measures</strong> are sometime inverse. Don´t be confused that increased numbers turn into
    pointing-down arrows.
  </p>
  <p>
    <strong>4 Years</strong> is currently the hard coded evaluation period. This could be more sophisticated - Rolling
    window or so?
  </p>
</article>


<footer>
    <span class="max-h-1 p-2"> <a
      href="https://gitlab.com/BerndCzech/newinvest"
      rel="noopener noreferrer" target="_blank">    <!-- Github -->
      Leave an issue or pull request on gitlab: <svg class="max-h-4 inline" viewBox="0 0 512 512"
                                                     xmlns="http://www.w3.org/2000/svg">
        <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <path
          d="M503.5 204.6L502.8 202.8L433.1 21.02C431.7 17.45 429.2 14.43 425.9 12.38C423.5 10.83 420.8 9.865 417.9 9.57C415 9.275 412.2 9.653 409.5 10.68C406.8 11.7 404.4 13.34 402.4 15.46C400.5 17.58 399.1 20.13 398.3 22.9L351.3 166.9H160.8L113.7 22.9C112.9 20.13 111.5 17.59 109.6 15.47C107.6 13.35 105.2 11.72 102.5 10.7C99.86 9.675 96.98 9.295 94.12 9.587C91.26 9.878 88.51 10.83 86.08 12.38C82.84 14.43 80.33 17.45 78.92 21.02L9.267 202.8L8.543 204.6C-1.484 230.8-2.72 259.6 5.023 286.6C12.77 313.5 29.07 337.3 51.47 354.2L51.74 354.4L52.33 354.8L158.3 434.3L210.9 474L242.9 498.2C246.6 500.1 251.2 502.5 255.9 502.5C260.6 502.5 265.2 500.1 268.9 498.2L300.9 474L353.5 434.3L460.2 354.4L460.5 354.1C482.9 337.2 499.2 313.5 506.1 286.6C514.7 259.6 513.5 230.8 503.5 204.6z"/>
      </svg>
    </a>
    </span>
</footer>