<script lang="ts">
  import { ProposalStore } from "./Store"

  let pfVolume = 0;
  ProposalStore.subscribe(pf => {
    pfVolume = pf.reduce((sum, p) => sum + p.number * p.price, 0)
  })
</script>

<div class="flex flex-wrap justify-center ">
  {#each $ProposalStore as prop}
    <div class="p-3 w-80">
      <div class=" max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
          <div class="font-semibold text-xl mb-4">{prop.name}</div>
          <div class="border-t-2  border-blue-200"></div>
        </div>
        <div class="flex flex-col  px-6  pb-2">
          <div class="flex justify-between">
            <span class="font-semibold">Name: </span>
            <span>{prop.name}</span>
          </div>
          <div class="mt-1 flex justify-between">
            <span class="font-semibold ">Price: </span>
            <span>{prop.price} $</span>
          </div>
          <div class="mt-1 flex justify-between">
            <span class="font-semibold">Volume: </span>
            <span>{prop.number * prop.price} $</span>
          </div>

          <div class="flex justify-between items-center">
            <span class="font-semibold">Number: </span>
            <input bind:value={prop.number} class="w-20  rounded border border-gray-500 pl-2 " min=0 type=number>
          </div>
          <div class="mt-6 mb-4">
            <p class="text-gray-600 text-right">{  Math.round(100 * prop.number * prop.price / pfVolume)} % of the
              portfolio</p>
            <div class="bg-gray-300 w-64 h-3 rounded-lg mt-2 overflow-hidden">
              <div class="bg-blue-400 h-full rounded-lg shadow-md" style="width: {Math.round(100 * prop.number * prop.price / pfVolume)}%; transition: width 0.3s ease-in-out"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  {:else}
    <!-- this block renders when photos.length === 0 -->
    <p>loading...</p>
  {/each}
</div>









