<script lang="ts">

  import type { Asset } from "../portfolio/Asset"
  import { Portfolio } from '../portfolio/Store'

  export let props: Asset;
  let pfVolume = 0;
  Portfolio.subscribe(pf => {
    pfVolume = pf.reduce((sum, p) => sum + p.number * p.price, 0)
  })

  const updateStore = () => {
    Portfolio.setAssetNumber(props, props.number)
  }

</script>

<div>
  <div class="p-3 w-80">
    <div class=" max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-semibold text-xl mb-4">{props.name}</div>
        <div class="border-t-2  border-purple-200"></div>
      </div>
      <div class="flex flex-col  px-6  pb-2">
        <div class="flex justify-between">
          <span class="font-semibold">Name: </span>
          <span>{props.name}</span>
        </div>
        <div class="mt-1 flex justify-between">
          <span class="font-semibold ">Price: </span>
          <span class="whitespace-nowrap">{props.price} $</span>
        </div>
        <div class="mt-1 flex justify-between">
          <span class="font-semibold">Volume: </span>
          <span class="whitespace-nowrap">{props.number * props.price} $</span>
        </div>
        <div class="my-4 ">
          <p class="text-gray-600 text-right"> {  Math.round(100 * props.number * props.price / pfVolume)} % of the
            portfolio</p>
          <div class="bg-gray-300 w-64 h-3 rounded-lg mt-2 overflow-hidden">
            <div class="bg-purple-400 h-full rounded-lg shadow-md"
                 style="width: {Math.round(100 * props.number * props.price / pfVolume)}%; transition: width 0.3s ease-in-out"></div>
          </div>
        </div>

        <div class="flex justify-between">

          <button class="hover:text-purple-400 transition duration-150 ease-in-out" on:click={Portfolio.delete(props)}>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                stroke-linecap="round"
                stroke-linejoin="round"/>
            </svg>
          </button>
          <input bind:value={props.number} class="w-20" min=0 on:input={updateStore} type=number>
        </div>
      </div>
    </div>
  </div>
</div>









