<script lang="ts">
  import type { Asset } from "../portfolio/Asset"
  import { Portfolio } from "../portfolio/Store"


  let searchString: string;
  export let endpoint: string;
  let matches: Asset[];

  const findAsset = async (text: string) => {
    const res = await fetch(`${endpoint}?queryString=${text}`, {
        method: "GET"
      }
    );
    const options = await res.json() as Asset[];

    matches = options.filter(asset => {
      // no result on empty input
      if (searchString.length === 0) {
        return null;
      }
      const regex = new RegExp(`${searchString}`, 'gi');
      return asset.name.match(regex);
    })
  };

  const debounce = (fn, ms = 300) => {
    let timeoutId: ReturnType<typeof setTimeout>;
    return function (this: any, ...args: any[]) {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(() => fn.apply(this, args), ms);
    };
  };

  const delayed = debounce(findAsset, 400)

  const submit = (a: Asset): void => {
    // initially add 1
    a.number = 1;
    Portfolio.add(a)
    // cleanup searchbar
    searchString = null;
    matches = null;
  };
</script>

<div id="search-bar">
  <input
    bind:value={searchString}
    class="px-1 py-0.5  border-gray-400 border-2 rounded "
    on:input={ delayed(searchString)}
    placeholder="Enter asset name"
  >
  <!--  results -->
  <div class="absolute z-10 ">
    {#if matches}
      {#each matches as match}
        <!--clicking anywhere will submit (not only plus)-->

        <div on:click={submit(match)}
             class="flex active:border active:border-4 active:border-purple-800 items-center mb-1 justify-between py-4 px-4 max-w-sm mx-auto bg-white hover:bg-gray-200 rounded shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
          <div class="flex flex-nowrap w-10/12 justify-between items-center">
            <p class="text-black font-semibold">
              {match.name}
            </p>
            <p class="ml-2 text-slate-500 font-medium whitespace-nowrap">
              {match.price} $
            </p>
          </div>
          <button
            class="flex w-6 h-6 items-center text-purple-600 rounded-full hover:text-white hover:bg-purple-600 hover:border-transparent">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></path>
            </svg>
          </button>

        </div>

      {/each}

    {/if}

  </div>

</div>